In [1]:
import mysql.connector as connection

In [2]:
#check whether the connection is establihsed
mydb=connection.connect(host='localhost',user='root',passwd='Flyhorse@123',use_pure=True)
print(mydb.is_connected())

True

In [3]:
#find all databases

query='SHOW DATABASES'
cursor = mydb.cursor()   #create cursor to excecute query
cursor.execute(query)
print(cursor.fetchall())

[('information_schema',), ('myfirstsql',), ('myfirstsql1',), ('myfirstsql3',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [4]:
#creating a new db
query='Create database rahulorg'
cursor = mydb.cursor()   #create cursor to excecute query
cursor.execute(query)
print('database is created')

database is created

In [8]:
#creating a table inside a db
mydb=connection.connect(host='localhost',database='rahulorg',user='root',passwd='Flyhorse@123',use_pure=True)
query= "CREATE TABLE Orgdetails (EmpId INT(10) ,FirstName VARCHAR(20),LastName VARCHAR(60), RegistrationDate DATE ,Department Varchar(20), Section Varchar(10))"

cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
print("Table Created!!")

Table Created!!

In [11]:
mydb=connection.connect(host='localhost',database='rahulorg',user='root',passwd='Flyhorse@123',use_pure=True)
query = "INSERT INTO Orgdetails VALUES ('1144','rahul','Paygude','1997-11-11','Eleventh','A')"

cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
print("Values inserted into the table!!")
mydb.commit()
mydb.close()

Values inserted into the table!!

In [14]:
#updating details
mydb=connection.connect(host='localhost',database='rahulorg',user='root',passwd='Flyhorse@123',use_pure=True)
query = "UPDATE Orgdetails SET FirstName='ROHIT' ,Lastname='mokashi' WHERE EmpId=1144"
cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
print("Values inserted into the table!!")
mydb.commit()

Values inserted into the table!!

In [15]:
#lets check whether the data is updated or not

query = "select * from Orgdetails where EmpId=1144"
cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)

for i in cursor.fetchall():
    print(i)

(1144, 'ROHIT', 'mokashi', datetime.date(1997, 11, 11), 'Eleventh', 'A')

In [18]:
#Delete data from table

query = "DELETE from Orgdetails where EmpId=1144"
cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
mydb.commit()

In [24]:
mydb=connection.connect(host='localhost',database='rahulorg',user='root',passwd='Flyhorse@123',use_pure=True)
query = "INSERT INTO Orgdetails VALUES ('1137','dhan','Paygude','1997-11-11','com','A')"

cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
print("Values inserted into the table!!")
mydb.commit()
mydb.close()

Values inserted into the table!!

In [54]:
mydb=connection.connect(host='localhost',database='rahulorg',user='root',passwd='Flyhorse@123',use_pure=True)
query = "SELECT empid FROM Orgdetails WHERE (Department='com') GROUP BY Empid ORDER BY Department"
cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
print("Values inserted into the table!!")

for i in cursor.fetchall():
    print(i)

Values inserted into the table!!
(1135,)
(1137,)